@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  font-family: "poppins
    ";
}

li {
  list-style-type: none;
}

.container {
  background-color: #264653;
}

.header_container {
  width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.nav-items {
  display: flex;
  align-items: center;
}
.nav-items li {
  margin-right: 30px;
}

.nav-items li a {
  text-decoration: none;

  color: #fff;
}
.login_button {
  background-color: #e76f51;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  color: #fff;
  cursor: pointer;
}
