@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}
:root {
  --dark-blue-color: #264653;
  --btn-color: #e76f51;
  --text-color: #e0e0e0;
  --white-color: #ffffff;
  --peragraph-color: #6c6c6c;
  --blue-color: #23a6f0;
  --border-color: #d5e5fb;
  --dark: #0b0d17;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}
.btn {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--btn-color);
  text-decoration: none;

  color: var(--btn-color);
}
.login {
  padding: 10px 25px;
  background: var(--btn-color);
  border-radius: 5px;
  border: 1px solid var(--btn-color);
  text-decoration: none;
  color: var(--white-color);
}

.btn:hover {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--btn-color);
  text-decoration: none;
  background: var(--btn-color);
  color: var(--white-color);
}
/* Header */
header {
  background: var(--dark-blue-color);
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .mobile-nav {
  display: none;
}
header nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 36px;
  padding: 35px 0px;
}

header nav ul li a {
  color: var(--white-color);
  font-family: "Poopins", sans-serif;
  text-decoration: none;
}

header nav ul li a.btn {
  background: var(--btn-color);
  padding: 10px 24px;
  border-radius: 5px;
}

header nav li:nth-last-child(1) {
  margin-left: 100px;
}

/* Hero Section */
header .hero-section {
  display: flex;
  padding: 100px 30px;
  justify-content: space-between;
  gap: 10px;
}

header .hero-section .left p {
  font-family: "Popins", sans-serif;
  font-size: 14px;
  line-height: 2em;

  color: var(--text-color);
  padding: 10px 0px;
}
header .hero-section .left .order-btn {
  background: var(--btn-color);
  color: var(--white-color);
  padding: 10px 45px;
  text-decoration: none;
  border-radius: 5px;
}
header .hero-section .left h1 {
  font-size: 48px;
  font-weight: bold;
  padding: 5px 0px;
  color: var(--white-color);
}

header .hero-section .right img {
  overflow: hidden;
  max-width: 450px;
}
/* Feature Section */
.feature {
  padding: 55px 0px;
}
.feature h1 {
  font-family: "Popins", sans-serif;
  font-size: 48px;
  text-align: center;
  color: var(--dark-blue-color);
}
.feature p {
  color: var(--btn-color);
  text-align: center;
  font-family: "Popins", sans-serif;
  font-weight: bold;
}
.feature .line {
  margin: 5px 0px;
  height: 2px;
  width: 50px;
  margin: 0 auto;
  background: var(--btn-color);
}
/* Bike Container */

.bike-container {
  padding: 100px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 120px;
}

/* Lastest News Section */
.news {
  padding: 100px 0px;
}

.news h2 {
  padding: 10px 0px;
  text-align: center;
  font-size: 48px;
  font-weight: bold;
}
.honda-container {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.honda {
  padding: 20px;
  border: 1px solid gainsboro;
  border-radius: 8px;
  box-shadow: 0.5px 0.5px 0.5px 0.5px solid gainsboro;
}

.honda h2 {
  padding: 10px 0px;
  font-size: 28px;
  font-family: "Popins", sans-serif;
}
.honda p {
  line-height: 2em;
  color: var(--peragraph-color);
  padding: 10px 0px;
}

.honda a.btn {
  margin-top: 20px;
}

/* Clients Section */

.clients {
  padding: 100px 0px;
}
.clients h2 {
  padding: 15px 0px;
  text-align: center;
  font-size: 48px;

  font-family: "Popins", sans-serif;
  color: var(--dark-blue-color);
}
.clients span {
  color: var(--btn-color);
}
.client-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.client-container .client {
  border: 1px solid #dbd2d2;
}
.client-container .client {
  padding: 40px 35px;
}

.client-container .client img {
  display: block;
  margin: 0 auto;
}
.client-container .client p {
  text-align: center;
  line-height: 2em;
  color: var(--peragraph-color);
}
.client-container .client .star {
  padding: 5px 0px;
  text-align: center;
}
.client-container .client .fa-star {
  color: var(--btn-color);
}
.client-container .client .fa-star:last-child {
  color: var(--peragraph-color);
}
.client-container .client h4 {
  color: var(--blue-color);
  text-align: center;
}

/* Question-section */
.frequently {
  padding: 60px 0px;
}

.frequently h2 {
  padding: 20px 0px;
  font-family: "Popins", sans-serif;
  text-align: center;
  color: var(--dark-blue-color);
  font-size: 48px;
}
.frequently span {
  color: var(--btn-color);
}
.frequently .question-container {
  display: flex;
  align-items: center;
  gap: 130px;
  justify-content: space-between;
}
.frequently .question-container .right img {
  width: 420px;
  height: 400px;
}
.frequently .question-container .left .text-container .texts {
  margin: 10px 0px;
  padding: 20px 24px;
  border: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Footer Section */

footer {
  background: var(--dark);
}
footer .footer-container {
  padding: 56px 0px;
  display: flex;
  justify-content: space-between;
}
footer .footer-container ul {
  display: flex;
  padding: 12px 0px;
  justify-items: center;
  gap: 24px;
  list-style: none;
}
footer .footer-container li a {
  font-family: "Popins", sans-serif;
  text-decoration: none;
  color: var(--text-color);
}

footer .footer-container .left p {
  padding: 10px 0px;
  color: var(--text-color);
  font-family: "Popins", sans-serif;
}

/* Right-section */
footer .footer-container .right h3 {
  align-items: flex-start;
  color: var(--text-color);
  font-size: 18px;
  font-family: "Popins", sans-serif;
}
footer .footer-container .right {
  display: flex;

  flex-direction: column;
}

footer .footer-container .right img {
  padding: 12px 0px;
}

/* Responsive */

@media (max-width: 800px) {
  header .desktop-nav {
    display: none;
  }
  header .mobile-nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  header .mobile-nav ul {
    margin: 0 auto;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  header .mobile-nav ul li a:hover {
    cursor: pointer;
    color: #23a6f0;
  }
  header .mobile-nav li:nth-last-child(1) {
    margin-left: 10px;
  }

  /* Toogles */

  .toogle {
    display: block;
    height: auto;
    width: auto;
    margin-top: 1rem;
    margin-left: 20rem;
    position: absolute;
    color: #ffffff;
  }

  /* Hero section */

  .hero-section {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .hero-section p {
    margin: 1rem 0;
  }

  .hero-section .right img {
    width: 100%;
    padding: 1.4rem 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  /* Feature Section */

  .feature .bike-container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    flex-direction: column;
  }

  .feature .bike-container img {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .news .honda-container {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
  }
  .news .honda-container .honda-img {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* Clients-Section */

  .client-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  /* Question Section */
  .question-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  .question-container .right img {
    width: 100%;
  }

  /* Footer-Section */

  footer .footer-container {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: flex-start;
    width: 100%;
  }
  footer .footer-container .right h3 {
    font-size: 24px;
  }
  footer .footer-container .right img {
    width: 60%;
  }
}
